<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
xmlns="http://xmlns.jcp.org/xml/ns/javaee" 
xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" 
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee;
http://xmlns.jcp.org/xml/ns/javaee;
http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
version="4.0">
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <error-page>
    <error-code>500</error-code>
    <location>/ErrorHandlerServlet</location>
  </error-page>
  <error-page>
    <error-code>404</error-code>
    <location>/ErrorHandlerServlet</location>
  </error-page>
  <error-page>
    <exception-type>java.lang.ArithmeticException</exception-type>
    <location>/ErrorHandlerServlet</location>
  </error-page>
  <error-page>
    <location>/general-error.html</location>
  </error-page>
  <servlet>
    <display-name>c_w_serve</display-name>
    <servlet-name>c_w_serve</servlet-name>
    <servlet-class>project.CreateWithServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>c_w_serve</servlet-name>
    <url-pattern>/CreateWithServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>r_form</display-name>
    <servlet-name>r_form</servlet-name>
    <servlet-class>project.ReimburmentFormAPI</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>r_form</servlet-name>
    <url-pattern>/ReimburmentFormAPI</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>ErrorHandlerServlet</display-name>
    <servlet-name>ErrorHandlerServlet</servlet-name>
    <servlet-class>project.ErrorHandlerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ErrorHandlerServlet</servlet-name>
    <url-pattern>/ErrorHandlerServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>TestServletException</display-name>
    <servlet-name>TestServletException</servlet-name>
    <servlet-class>project.TestServletException</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TestServletException</servlet-name>
    <url-pattern>/TestServletException</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>JSONExample</display-name>
    <servlet-name>JSONExample</servlet-name>
    <servlet-class>project.JSONExample</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>JSONExample</servlet-name>
    <url-pattern>/JSONExample</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AnotherServlet</display-name>
    <servlet-name>AnotherServlet</servlet-name>
    <servlet-class>project.AnotherServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AnotherServlet</servlet-name>
    <url-pattern>/AnotherServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetJSON</display-name>
    <servlet-name>GetJSON</servlet-name>
    <servlet-class>project.GetJSON</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetJSON</servlet-name>
    <url-pattern>/GetJSON</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetReimbursments</display-name>
    <servlet-name>GetReimbursments</servlet-name>
    <servlet-class>project.GetReimbursments</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetReimbursments</servlet-name>
    <url-pattern>/GetReimbursments</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetUsers</display-name>
    <servlet-name>GetUsers</servlet-name>
    <servlet-class>project.GetUsers</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetUsers</servlet-name>
    <url-pattern>/GetUsers</url-pattern>
  </servlet-mapping>
</web-app>